/* No seu arquivo Inscrito.module.css */
.sucess {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
.sucess h1 {
    font-size: 24px;
 }
  
.sucess p {
    font-size: 16px;
    color: #7b7b7b;
}
  